.popup {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 195px;
    left: 425px;
    background-color: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    margin: 0;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    padding: 0;
    z-index: 1;
    height: 330px;
    width: 430px;
}
@media screen and (max-width: 600px) {
    .popup {
        top: 123px;
        left: 19px;
        width: 282px;
        height: 322px;
    }
}