.popup__button {
    width: 100%;
    min-height: 50px;
    border: none;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    margin-top: 45px;
    margin-bottom: 37px;
    background-color: black;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #fff;
    font-weight: normal;
    cursor: pointer;
    border-radius: 2px;
    transition: all .5s;
}

.popup__button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
@media screen and (max-width: 450px) {
    .popup__button {
        height: 46px;
        font-size: 14px;
        line-height: 17px;
        margin-top: 45px;
    }
}