.header{
    max-width: 880px;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
    margin: 45px auto 0;
    padding: 0;
}
@media screen and (max-width: 1000px) {
    .header {
        max-width: 672px;
    }
}

@media screen and (max-width: 750px) {
    .header {
        max-width: 460px;
    }
}

@media screen and (max-width: 550px){
    .header{
        max-width: 320px;
        margin-top: 28px;
    }
}