.element__group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /*margin: 0;*/
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
